:root {
    --global-font-family: "Roboto", sans-serif;
    --global-blue_color-color: #3480e3;
}

html {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: var(--global-font-family);
}


/* .wrapper {
    max-width: 100%;
    max-height: fit-content;
} */

.inner-wrapper {
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#nav {
    padding-left: 0px;
    padding-right: 0px;
}

.col-sm-4 {
    display: flex;
    justify-content: center;
}

p {
    margin-bottom: 0px;
}

.symbol {
    color: var(--global-blue_color-color);
    padding-right: 10px;
    font-size: large;
}

#underline {
    border-width: medium;
    border-bottom: solid;
    border-color: var(--global-blue_color-color);
}

#content {
    color: grey;
    display: inline;
    padding-top: 0px;
}

#author {
    color: lightgray;
    font-size: small;
}

#footer {
    margin-top: 70px;
    border-top: solid;
    border-bottom: solid;
    border-color: lightgray;
    border-width: thin;
    padding-top: 20px;
    padding-bottom: 20px;
    color: gray;
}

h6 {
    font-size: 9px;
}